# For the iCESugar Board (iCE40UP5K-QFN48)
# taken from: https://github.com/wuxx/icesugar/blob/master/src/common/io.pcf
# alternate doc: https://github.com/hdl/constraints/blob/main/board/iCESugar-v1.5/constraints.pcf

# runs at 12Mhz by default
set_io ICESUGAR_CLK   35

# note: inverted
set_io ICESUGAR_LED_G          39
set_io ICESUGAR_LED_R          40
set_io ICESUGAR_LED_B          41

set_io ICESUGAR_SWITCH[0] 18
set_io ICESUGAR_SWITCH[1] 19
set_io ICESUGAR_SWITCH[2] 20
set_io ICESUGAR_SWITCH[3] 21

set_io ICESUGAR_UART_RX    4
set_io ICESUGAR_UART_TX    6

set_io ICESUGAR_USB_DP       10
set_io ICESUGAR_USB_DN       9
set_io ICESUGAR_USB_PULLUP   11

# PMOD 1
set_io ICESUGAR_P1_1     10
set_io ICESUGAR_P1_2     6      # shared with UART - pin jumper on board
set_io ICESUGAR_P1_3     3
set_io ICESUGAR_P1_4     48
set_io ICESUGAR_P1_9     47
set_io ICESUGAR_P1_10    2
set_io ICESUGAR_P1_11    4      # shared with UART - pin jumper on board
set_io ICESUGAR_P1_12    9

# PMOD 2
set_io ICESUGAR_P2_1     46
set_io ICESUGAR_P2_2     44
set_io ICESUGAR_P2_3     42
set_io ICESUGAR_P2_4     37
set_io ICESUGAR_P2_9     36 
set_io ICESUGAR_P2_10    38
set_io ICESUGAR_P2_11    43
set_io ICESUGAR_P2_12    45

# PMOD 3
set_io ICESUGAR_P3_1     34 
set_io ICESUGAR_P3_2     31
set_io ICESUGAR_P3_3     27
set_io ICESUGAR_P3_4     25
set_io ICESUGAR_P3_9     23
set_io ICESUGAR_P3_10    26
set_io ICESUGAR_P3_11    28
set_io ICESUGAR_P3_12    32

# PMOD 4
set_io ICESUGAR_P4_1     21
set_io ICESUGAR_P4_2     20
set_io ICESUGAR_P4_3     19
set_io ICESUGAR_P4_4     18

#spi
set_io ICESUGAR_SPI_SS   16
set_io ICESUGAR_SPI_SCK  15
set_io ICESUGAR_SPI_MOSI 17
set_io ICESUGAR_SPI_MISO 14

# ---- custom additions ----
# manually mapped LED board in PMOD2
# note: inverted
set_io ICESUGAR_PMOD2_LED[0] 45 # P2_12
set_io ICESUGAR_PMOD2_LED[1] 43 # P2_11
set_io ICESUGAR_PMOD2_LED[2] 38 # P2_10
set_io ICESUGAR_PMOD2_LED[3] 36 # P2_9
set_io ICESUGAR_PMOD2_LED[4] 46 P2_1
set_io ICESUGAR_PMOD2_LED[5] 44 P2_2
set_io ICESUGAR_PMOD2_LED[6] 42 P2_3
set_io ICESUGAR_PMOD2_LED[7] 37 P2_4
